@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@300&family=Onest:wght@100;300&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Noto+Sans:wght@300&family=Onest:wght@100;300&family=Paytone+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.topo{
    background-color: #10002b;
    height: 300px;
    color: white;
    font-size: 40px;
   text-align: center;
   padding-top: 40px;
   }

h2{
    color: #e0aaff;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;;

}
body{
    background-color:
}

.destaque h1{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    
}

span{
    color: #9d4edd;
}

img{
    margin-top: 40px;
    height: 600px;
    
}

.principal{
    background-color:#e0aaff;
    }

    
    p{
        margin-top: 30px;
        
    }

    footer{
        font-size: 15px;
        display: flex;
        gap: 10px;
        background-color: #10002b;
        color: white;
        
    }

    @media all and (max-width:768px) {
       .topo, .destaque, .principal{
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
    
       }
       
    }